/* global.css */
:root {
  --primary-color: #cdd7fb;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
}
body{
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
}

