/* global.css */
:root {
  --primary-color: #cdd7fb;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: black;
  --text-color: #2c3e50;
}
body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color:white;
}

